@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600&display=swap');

body{
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

html{
    height: 100%;
    width: 100%;
  }

* {
    box-sizing: border-box;
  }

.princ {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100% 100% 100%; 
    grid-template-rows: 7vw auto auto;
    grid-template-areas:
        "cab"
        "pag"
        "rod";
}

header {
    grid-area: cab;
    background-color: #2277a8;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #1c638b;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar-mob{
    display: none;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li{
list-style: none;
}

.logo{
    display: flex;
    margin-left: 20px;
    width: 7vw;
    height: 7vw;
}

.logo img{
    height:7vw;
    width: 7vw;
}

.nav-link{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 2.5rem;
    filter: opacity(110%);
    font-weight: bolder;
}

.nav-link:hover {
    transition: 0.25s;
    transform: scale(115%);
    filter: opacity(80%);
}

.icone-l{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 7vw;
    margin-right: 15px;
}

#user{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 3.5vw;
    height: 3.5vw;
}

.text-user{
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    display: block;
    font-size: 1rem;
}


/*SECTION*/


section {
    background-color: green;
    grid-area: pag;
}




/*FOOTER*/

footer {
    grid-area: rod;
    background-color: #164d6d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

footer .nav-link{
    font-weight: bolder;
    text-decoration: none;
}

footer p {
    color: white;
    font-weight: bolder;
}

footer a {
filter: opacity(70%);
}

footer a:hover{
    transition:0.25;
    transform: scale(110%);
    filter: opacity(100%);
}


.footericon{
    height: 45px;
    width: 45px;
    border-radius: 5px ;
    filter: opacity(70%);
}

.footericon:hover{
    transition: 0.25s;
    transform: scale(110%);
    filter: opacity(100%);
    cursor: pointer;

}



/*MOBILE*/

body {
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
}

@media screen and (max-width: 900px) {

  
    body {
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
        letter-spacing: 1px;
    }

    html {
        height: 100%;
        width: 100%;
    }

    * {
        box-sizing: border-box;
    }

}