@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600&display=swap');

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Inter', sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.princ {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100% 100% 100%;
    grid-template-rows: 7vw auto auto;
    grid-template-areas:
        "cab"
        "pag"
        "rod";
}

header {
    grid-area: cab;
    background-color: #2277a8;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #1c638b;
}

.nav-bts a:hover {
    transition: 0.25;
    transform: scale(110%);
    filter: opacity(100%);
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar-mob {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li {
    list-style: none;
}

.logo {
    display: flex;
    margin-left: 20px;
    width: 7vw;
    height: 7vw;
}

.logo img {
    height: 7vw;
    width: 7vw;
}

.nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 2.5rem;
    filter: opacity(110%);
    font-weight: bolder;
}

.nav-link:hover {
    transition: 0.25s;
    transform: scale(115%);
    color: #d2d2d2;
    filter: opacity(50%);
}

.icone-l {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 7vw;
    margin-right: 15px;
}

#user {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 3.5vw;
    height: 3.5vw;
}

.text-user {
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    display: block;
    font-size: 1rem;
}


/*SECTION*/


section {
    background-color: rgb(255, 255, 255);
    grid-area: pag;
    padding-bottom: 155px;
}

.banner {
    width: 100%;
}

.vantadiv {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.vantadiv h2 {
    color: #164d6d;
    font-weight: bolder;
}

.vantadiv p {
    margin-top: 10px;
    margin-bottom: 55px;
}

.vantatext .somos {
    display: flex;
    align-content: center;
    font-size: 20px;
    font-weight: bold;
    max-width: 1150px;
    border-radius: 15px;
    background-color: #f1f1f1;
    box-shadow: 9px 9px 15px rgb(129, 129, 129);
}

.vantatext {
    display: flex;
    justify-content: center;
    margin-top: 105px;
    margin-bottom: 25px;
}

.textb {
    display: flex;
    align-content: center;
    align-items: center;
    margin: 25px;
    letter-spacing: 2px;

}

.vantagens {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 55px;
    margin-bottom: 55px;
}

.vantagens img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgb(129, 129, 129);
}

.vantagens img:hover {
    transform: scale(105%);
    transition: 0.25s;
}

.text {
    max-width: 850px;
    background-color: #d2d2d2;
    border-radius: 10px;
}

.text p {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: #1c638b;
}

.vantadiv .admdiv {
    margin-top: 40px;
    margin-bottom: 55px;
}


.admdiv {
    background-color: #164d6d;
    margin: 50px;
    width: 450px;
    height: 450px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px rgb(90, 90, 90);
}

.admdiv img {
    margin-top: 40px;
    margin-bottom: 45px;
    height: 150px;
    width: 150px;
}

.admdiv h1 {
    color: #53B7DC;
}

.admdiv h3 {
    color: white;
}

.admdiv button {
    font-size: 1rem;
    margin-top: 15px;
    width: 155px;
    height: 45px;
    background-color: #53B7DC;
    border-radius: 20px;
    border: none;
    box-shadow: 3px 3px 8PX rgb(37, 37, 37);
    font-weight: bold;
}

.admdiv button:hover {
    cursor: pointer;
    transform: scale(105%);
    transition: 0.25s;
    box-shadow: 6px 6px 10px rgb(0, 0, 0);
}


.admdiv a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

.formstyle {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #e6e6e6;
    border-radius: 15px;
    width: 1050px;
}

.center {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.botao {
    text-decoration: none;
    background-color: #1f6a96;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    margin: 1rem;
}

.botao:hover {
    transition: 0.25s;
    color: #e6e6e6;
}

label {
    color: black;
    font-weight: bold;
    font-size: 1rem;
}

input {
    border: none;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
    margin: 0.5vh;
    border-radius: 3px;
}

/*FOOTER*/

footer {
    grid-area: rod;
    background-color: #164d6d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

footer .nav-link {
    font-weight: bolder;
    text-decoration: none;
}

footer p {
    color: white;
    font-weight: bolder;
}

footer .nav-link a {
    filter: opacity(70%);
}

footer .nav-link a:hover {
    transition: 0.25;
    transform: scale(110%);
    filter: opacity(100%);
}


.footericon {
    height: 45px;
    width: 45px;
    border-radius: 5px;
    filter: opacity(70%);
}

.footericon:hover {
    transition: 0.25s;
    transform: scale(110%);
    filter: opacity(100%);
    cursor: pointer;

}



/*MOBILE*/


@media screen and (max-width: 900px) {

    body {
        font-family: 'Inter', sans-serif;
        margin: 0 auto;
    }

    body {
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
        letter-spacing: 1px;
    }

    html {
        height: 100%;
        width: 100%;
    }

    * {
        box-sizing: border-box;
    }

}